
.text_links {
    display: block;
    color:  #361b1b;
    text-align: center;
}

.button2 {
    color: black;
    text-decoration: none;
}

.nav_links {
    margin-top: 5%;
    margin-left: 3%;
    text-transform: uppercase;
    font-weight: bold;
    color:  #361b1b;
    font-family: 'Roboto Slab', serif;
}

.icons {
    color: #ccae62;
    display: flex;

}


.btn1{
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 5%;
    border: none;
    background-color: #ccae62 ;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

.btn2{
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10%;
    border: none;
    background-color: #09cc3a ;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

.lar {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 15%;
}

.hist-lar {
    padding-left: 5%;
}

.titulo-lar {
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
    text-underline-offset: 15px;
    font-size: 30px;
    color: #361b1b;
}

.text-lar {
    width: 50%;
    margin-top: 10%;
    text-align: justify;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 1%;
}

#servicos {
    background-color: #8f7d4f;
}


.titulo {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
    text-underline-offset: 15px;
    font-size: 25px;
    color:#fff;
    letter-spacing: 0.5px;
}

.btn-btn1 {
    margin-left: 2px;
}

.servicos-grid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 70px 70px 70px;
    padding-top: 7%;
    row-gap: 10px;
    padding-bottom: 10%;
    
}

.icons2 {
    color: #ccae62;
    margin-bottom: 20px;
}

.servicos-text {
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}

.cares {
    position: relative;
    bottom: 16px;
}


.doc {
    position: relative;
    bottom: 16px;
}



.fisio {
    position: relative;
    bottom: 16px;
}

.nutri {
    position: relative;
    top: 16px;
}

.love {
    position: relative;
    top: 16px;
}


.shield {
    position: relative;
    top: 16px;
}

.puzzle {
    position: relative;
    top: 16px;
}


.map {
    padding-top: 1%;
    padding-bottom: 1%;
    height: 80vh;
}

.map-marker {
    margin-top: -30px;
}


.infos {
    display: flex;
    justify-content: left;
    margin-left: 7%;
    margin-top: 3%;
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.row-infos {
    display: flex;
    justify-content: left;
    margin-left: 5%;
}

.card-infos {
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    margin-top: 3%;
    width: 700px;
    height: 550px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}


.card-element {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
    row-gap: 20px;

}

.card-title {
    padding-left: 20px;
    font-family: 'Roboto Slab', serif;
}

.form {
    height: 40px;
    border: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    padding-left: 5px;
    font-family: 'Roboto Slab', serif;
}

.form:focus {
    border: 1px solid #555;
}

.msg {
    padding-left: 5px;
    resize: none;
    border: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    padding-left: 5px;
    font-family: 'Roboto Slab', serif;
}

.msg:focus {
    border: 1px solid #555;
}

.btn-btn {
    width: 30%;
}

.btn-btn:hover {
    background-color:#dbbf78;
}

.contact {
    position: relative;
    bottom: 30px;
    left: 5%;
    font-family: 'Roboto Slab', serif;
}

.title-contact {
    text-decoration: underline;
    text-underline-offset: 15px;
}

.contact-infos {
    padding-top: 15%;
}

.contact-links-pad {
    padding-top: 35px;
}

.btn-contact {
    width: 15%;
    border-radius: 50%;
}

.btn-alling {
    margin-left: 5px;
}

.footer {
    background-color: #8f7d4f;
    margin-top: 10%;
    padding-top: 6%;
    padding-bottom: 5px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}

.row-form {
    display: flex;
    justify-content: left;
    margin-left: 5%;
}

.card-form {
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    margin-top: 3%;
    width: 700px;
    height: 100px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}

.btn3{
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid #ccae62;
    background-color: #fff ;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Roboto Slab', serif;
}

.btn3:hover {
    background-color: #ccae62;
    color: #fff;
}




